hHbxx4I7jAnIFKM6.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-27T02:38:23.652Z",
  "id": "hHbxx4I7jAnIFKM6",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Content Creator",
  "nodes": [
    {
      "parameters": {},
      "id": "d1ba5f65-7572-461b-8563-d643c76fee5f",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        16
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role: You are an expert Content Curator and BCBA (Board Certified Behavior Analyst).\n\nObjective: From the provided list of 60 RSS feed entries (titles, descriptions, and URLs), select exactly TWO distinct items:\n\nField News: A significant update, research finding, or legislative change in Applied Behavior Analysis.\n\nParenting Practice: A science-backed tip or testimonial-based activity that parents can do with kids at home today.\n\nInstructions:\n\nSelection: Choose the most high-impact and relevant stories. Avoid duplicates.\n\nInstagram Post: Create a short, engaging article for Buffer. Start with a \"hook,\" provide the value, and end with a call-to-action (CTA). Use 3-5 relevant hashtags (e.g., #ABA #ParentingHacks).\n\nAudio Script: Write a professional, friendly script for a CGI character. It MUST be under 50 words to ensure it stays under 20 seconds. Focus on one core insight from each story.\n\nConstraint: No preamble. Your entire response must be a single, valid JSON object.\n\nClarification: Two separate posts. One for Field New and other for Parenting Practice.\n\nInput Data: {{ $json.rss_items_stringified }}\n\nRequired JSON Schema: { \"title\": \"A catchy headline for the post\", \"post_content\": \"The full text for the Instagram caption\", \"audio_script\": \"The 20-second script for the voiceover\", \"source_url\": \"The URL of the primary news story selected\", \"metadata\": { \"topic_news\": \"Title of the news item selected\", \"topic_practice\": \"Title of the parenting tip selected\" } }",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        224,
        16
      ],
      "id": "cdd8ea8c-8afc-4c96-ac9b-bfc4494ed003",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-exp:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        232,
        240
      ],
      "id": "65b67f91-ac27-4ab8-b1d4-43695c8cb1df",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ujyYSOjWajsHaucP",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen-2.5-vl-7b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        360,
        240
      ],
      "id": "43022481-c654-4211-b712-7cde4fa3e75b",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "ujyYSOjWajsHaucP",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Pending\nInstead of praying for the model to put the RSS url where it goes, just ask it to specify the index from the post so I can fetch it myself. Look for a better FallBack model since the main model is leaving march 6\n",
        "height": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        -32
      ],
      "typeVersion": 1,
      "id": "6f1496bc-b640-4702-9df1-ec4dd2c76478",
      "name": "Sticky Note"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "Ember96",
    "name": "n8n_workflows_backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-27T02:38:23.656Z",
      "createdAt": "2026-01-27T02:38:23.656Z",
      "role": "workflow:owner",
      "workflowId": "hHbxx4I7jAnIFKM6",
      "projectId": "qxeR1gIEc01jkoF9"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-29T03:53:32.759Z",
  "versionId": "909cf474-154b-4ca0-b524-7ecb9158707c"
}