r8iEu2PrOtHb2Fg6.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-17T03:46:50.000Z",
    "createdAt": "2026-01-17T03:33:41.215Z",
    "versionId": "db651c7d-bb10-499d-8680-8d21b2849590",
    "workflowId": "r8iEu2PrOtHb2Fg6",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "=# ROLE\nYou are a specialized scriptwriter for a \"Classroom-Style\" RBT Podcast. \n\n# CLASSROOM PERSONAS\n- Professor Sarah: Expert instructor. \n- Tim: The newbie student (asks for basic definitions).\n- Maya: The smart student (applies concepts to real-life ABA scenarios).\n\n# CONTEXT & USER INPUT\n- User Name: {{ $json.jwtPayload.name }}\n- User Question: {{ $json.body.message }}\n\n# KNOWLEDGE SOURCE (MANDATORY)\n1. You have access to a tool called 'Supabase Vector Store'. \n2. Before answering any question about ABA or RBT concepts, you MUST search this tool for relevant context.\n3. If the tool returns information, prioritize it over your own internal training data.\n4. If the tool returns no information, state: \"I couldn't find that specific detail in our RBT textbook, but based on general ABA principles...\"\n\n# SCRIPT RULES\n1. Sarah must open by saying: \"Hello everyone, {{ $json.jwtPayload.name }} has a great question today.\"\n2. Sarah must then repeat the user's question verbatim for reinforcement.\n3. Tim must interrupt to clarify the most \"obvious\" part of the concept.\n4. Maya must provide a practical example of how to use the concept with a client.\n\nOutput ONLY a raw JSON array of objects. Do not include markdown code blocks (like ```json) or any conversational text. Example: [{\"speaker\": \"SARAH\", \"message\": \"...\"}, {\"speaker\": \"TIM\", \"message\": \"...\"}]\"\n\"CRITICAL: You must only output the JSON array. Do not say 'Here is the script' or use markdown code blocks like ```json. Start your response with '[' and end with ']'.\"\n\nWhen the user speaks, refer to them as [{{$json.jwtPayload.name}}].\"",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          280,
          240
        ],
        "id": "c3c1a120-88e9-4489-bf27-1617ff352a1b",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": "llama-3.3-70b-versatile",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          0,
          672
        ],
        "id": "78c31698-b95b-40f7-9c6b-c589f97030a2",
        "name": "Groq Chat Model",
        "credentials": {
          "groqApi": {
            "id": "aE8pOIvvVZLZ2wyl",
            "name": "Groq Mimir RBT"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Call this tool to look into the RBT documentation stored in Supabase to answer user questions and generate mock exams or study plans.",
          "tableName": {
            "__rl": true,
            "value": "mimir_docs_rbt",
            "mode": "list",
            "cachedResultName": "mimir_docs_rbt"
          },
          "options": {
            "queryName": "match_mimir_docs_rbt"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          480,
          464
        ],
        "id": "ab406520-8f28-4a99-a3b8-144a08ddc08e",
        "name": "Vector Store Retriever",
        "credentials": {
          "supabaseApi": {
            "id": "UjpfwLCOwOKmxVQn",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "modelName": "embed-multilingual-v3.0"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
        "typeVersion": 1,
        "position": [
          560,
          672
        ],
        "id": "1014562a-8158-4d88-8ff6-bb08311d16b0",
        "name": "Embeddings Cohere",
        "credentials": {
          "cohereApi": {
            "id": "Fnlj29qnLp78m5T5",
            "name": "CohereApi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Webhook').item.json.jwtPayload.sub }}",
          "tableName": "podcast_chat_history"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          352,
          464
        ],
        "id": "35f0bc0e-9fa1-4986-9393-b7621094ccf9",
        "name": "Chat history",
        "credentials": {
          "postgres": {
            "id": "1gnIcgG4hDGKsy6f",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "a39a7207-e29a-4080-b0a8-d853ea96a12f",
          "authentication": "jwtAuth",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          240
        ],
        "id": "9d177811-ca48-4aa7-b71f-fa21f88f516e",
        "name": "Webhook",
        "webhookId": "a39a7207-e29a-4080-b0a8-d853ea96a12f",
        "credentials": {
          "jwtAuth": {
            "id": "UZqDYFn9lmzwtyfS",
            "name": "Mimir User"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const rawOutput = $input.first().json.output;\n\ntry {\n  const jsonMatch = rawOutput.match(/\\[\\s*{[\\s\\S]*}\\s*\\]/);\n  if (!jsonMatch) throw new Error(\"No JSON array found\");\n\n  const dialogueArray = JSON.parse(jsonMatch[0]);\n\n  return dialogueArray.map(item => {\n    // 1. Clean the name: remove [], trim spaces, and make lowercase\n    const cleanName = item.speaker.replace(/[\\[\\]]/g, \"\").trim().toLowerCase();\n    \n    // 2. Assign voice based on keywords\n    let voice = \"af_heart\"; // Default (Maya)\n    \n    if (cleanName.includes(\"sarah\")) {\n      voice = \"af_sky\";\n    } else if (cleanName.includes(\"tim\")) {\n      voice = \"am_echo\";\n    }\n\n    return {\n      json: {\n        speaker: item.speaker.replace(/[\\[\\]]/g, \"\").trim(), // Pretty name for Supabase folders\n        message: item.message,\n        voice: voice\n      }\n    };\n  });\n} catch (error) {\n  return [{ json: { error: error.message, rawOutput: rawOutput } }];\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          848,
          240
        ],
        "id": "12309064-190a-4927-a8c3-2dc6312bd7f0",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "options": {
            "reset": false
          }
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1296,
          144
        ],
        "id": "5c2395b0-9e72-4e84-a03d-ec9deadfeec7",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "operation": "upload",
          "bucketName": "mimir_rbt_classroom",
          "fileName": "={{ $('Edit Fields').item.json.fileName }}",
          "additionalFields": {
            "acl": "publicRead",
            "storageClass": "standard"
          },
          "tagsUi": {
            "tagsValues": [
              {
                "key": "Content-Type",
                "value": "audio/mpeg"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          1968,
          144
        ],
        "id": "0203bf52-8a8a-4def-9d58-bd7dec2c3b8f",
        "name": "Upload a file",
        "credentials": {
          "s3": {
            "id": "VtB0BxymxRZHvleK",
            "name": "S3 account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "efa36b06-7e41-4e5d-a52f-96eedcb9efae",
                "leftValue": "={{ $json.success }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2192,
          144
        ],
        "id": "6629a4b6-01e3-4bb9-b28c-7dba4b85a628",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c424fb11-0f20-4990-904f-2f94bc04b9d6",
                "name": "fileName",
                "value": "={{$('Webhook').first().json.jwtPayload.sub + '_' + $('Loop Over Items').first().json.speaker + '_' + $now}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1520,
          144
        ],
        "id": "f26561e8-2c3b-4d75-a9eb-4607ad8edafa",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "9z4u8CpMeP6aQsAD",
            "mode": "list",
            "cachedResultUrl": "/workflow/9z4u8CpMeP6aQsAD",
            "cachedResultName": "FastKokoro"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "voice": "={{ $('Loop Over Items').item.json.voice }}",
              "message": "={{ $('Loop Over Items').item.json.message }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "message",
                "displayName": "message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "fileName",
                "displayName": "fileName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "bucketName",
                "displayName": "bucketName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "voice",
                "displayName": "voice",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1744,
          144
        ],
        "id": "96072cd8-4251-494f-8700-fae5e465c998",
        "name": "Call 'FastKokoro'"
      },
      {
        "parameters": {
          "model": "meta-llama/llama-3.3-70b-instruct:free",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          224,
          464
        ],
        "id": "82f234a5-c839-4a96-be1f-95f09da6f734",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "ujyYSOjWajsHaucP",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ca9527e3-8111-4f83-b29c-689436074c02",
                "name": "fileName",
                "value": "=https://oyhgtwhtovqlwfrjemdx.supabase.co/storage/v1/object/public/mimir_rbt_classroom/{{ $('Edit Fields').item.json.fileName }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2416,
          144
        ],
        "id": "7049d332-80f8-455f-a1de-a3cb67e63359",
        "name": "Successful"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "5382f3e5-3608-42d7-a96d-75ae8c8f78cd",
                "leftValue": "={{ $('Webhook').item.json.body.local }}",
                "rightValue": "false",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1072,
          240
        ],
        "id": "146af020-1cd5-4c17-b55f-950d47f2c341",
        "name": "If1"
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1520,
          -48
        ],
        "id": "f444dcf3-ad97-4a5c-8bf5-a64c9a8fc18c",
        "name": "Audio Files"
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1296,
          336
        ],
        "id": "54f80015-fd76-4fb6-977b-16a9270fe48a",
        "name": "Script"
      }
    ],
    "connections": {
      "Groq Chat Model": {
        "ai_languageModel": [
          []
        ]
      },
      "Embeddings Cohere": {
        "ai_embedding": [
          [
            {
              "node": "Vector Store Retriever",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Vector Store Retriever": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Chat history": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Audio Files",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload a file": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Successful",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Call 'FastKokoro'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'FastKokoro'": {
        "main": [
          [
            {
              "node": "Upload a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Successful": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Script",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jose Ricardo Cedeno Garcia",
    "name": "Version db651c7d",
    "description": "feat: The flow changes now depending if the client app request for the whole audio files or just the script",
    "autosaved": false
  },
  "activeVersionId": "db651c7d-bb10-499d-8680-8d21b2849590",
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat history": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Audio Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Successful",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'FastKokoro'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'FastKokoro'": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Successful": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-05T00:32:38.531Z",
  "id": "r8iEu2PrOtHb2Fg6",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[Mimir-RBT] Podcast generator",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROLE\nYou are a specialized scriptwriter for a \"Classroom-Style\" RBT Podcast. \n\n# CLASSROOM PERSONAS\n- Professor Sarah: Expert instructor. \n- Tim: The newbie student (asks for basic definitions).\n- Maya: The smart student (applies concepts to real-life ABA scenarios).\n\n# CONTEXT & USER INPUT\n- User Name: {{ $json.jwtPayload.name }}\n- User Question: {{ $json.body.message }}\n\n# KNOWLEDGE SOURCE (MANDATORY)\n1. You have access to a tool called 'Supabase Vector Store'. \n2. Before answering any question about ABA or RBT concepts, you MUST search this tool for relevant context.\n3. If the tool returns information, prioritize it over your own internal training data.\n4. If the tool returns no information, state: \"I couldn't find that specific detail in our RBT textbook, but based on general ABA principles...\"\n\n# SCRIPT RULES\n1. Sarah must open by saying: \"Hello everyone, {{ $json.jwtPayload.name }} has a great question today.\"\n2. Sarah must then repeat the user's question verbatim for reinforcement.\n3. Tim must interrupt to clarify the most \"obvious\" part of the concept.\n4. Maya must provide a practical example of how to use the concept with a client.\n\nOutput ONLY a raw JSON array of objects. Do not include markdown code blocks (like ```json) or any conversational text. Example: [{\"speaker\": \"SARAH\", \"message\": \"...\"}, {\"speaker\": \"TIM\", \"message\": \"...\"}]\"\n\"CRITICAL: You must only output the JSON array. Do not say 'Here is the script' or use markdown code blocks like ```json. Start your response with '[' and end with ']'.\"\n\nWhen the user speaks, refer to them as [{{$json.jwtPayload.name}}].\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        280,
        240
      ],
      "id": "c3c1a120-88e9-4489-bf27-1617ff352a1b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        0,
        672
      ],
      "id": "78c31698-b95b-40f7-9c6b-c589f97030a2",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "aE8pOIvvVZLZ2wyl",
          "name": "Groq Mimir RBT"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to look into the RBT documentation stored in Supabase to answer user questions and generate mock exams or study plans.",
        "tableName": {
          "__rl": true,
          "value": "mimir_docs_rbt",
          "mode": "list",
          "cachedResultName": "mimir_docs_rbt"
        },
        "options": {
          "queryName": "match_mimir_docs_rbt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        480,
        464
      ],
      "id": "ab406520-8f28-4a99-a3b8-144a08ddc08e",
      "name": "Vector Store Retriever",
      "credentials": {
        "supabaseApi": {
          "id": "UjpfwLCOwOKmxVQn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        560,
        672
      ],
      "id": "1014562a-8158-4d88-8ff6-bb08311d16b0",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "Fnlj29qnLp78m5T5",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.jwtPayload.sub }}",
        "tableName": "podcast_chat_history"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        352,
        464
      ],
      "id": "35f0bc0e-9fa1-4986-9393-b7621094ccf9",
      "name": "Chat history",
      "credentials": {
        "postgres": {
          "id": "1gnIcgG4hDGKsy6f",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a39a7207-e29a-4080-b0a8-d853ea96a12f",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        240
      ],
      "id": "9d177811-ca48-4aa7-b71f-fa21f88f516e",
      "name": "Webhook",
      "webhookId": "a39a7207-e29a-4080-b0a8-d853ea96a12f",
      "credentials": {
        "jwtAuth": {
          "id": "UZqDYFn9lmzwtyfS",
          "name": "Mimir User"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $input.first().json.output;\n\ntry {\n  const jsonMatch = rawOutput.match(/\\[\\s*{[\\s\\S]*}\\s*\\]/);\n  if (!jsonMatch) throw new Error(\"No JSON array found\");\n\n  const dialogueArray = JSON.parse(jsonMatch[0]);\n\n  return dialogueArray.map(item => {\n    // 1. Clean the name: remove [], trim spaces, and make lowercase\n    const cleanName = item.speaker.replace(/[\\[\\]]/g, \"\").trim().toLowerCase();\n    \n    // 2. Assign voice based on keywords\n    let voice = \"af_heart\"; // Default (Maya)\n    \n    if (cleanName.includes(\"sarah\")) {\n      voice = \"af_sky\";\n    } else if (cleanName.includes(\"tim\")) {\n      voice = \"am_echo\";\n    }\n\n    return {\n      json: {\n        speaker: item.speaker.replace(/[\\[\\]]/g, \"\").trim(), // Pretty name for Supabase folders\n        message: item.message,\n        voice: voice\n      }\n    };\n  });\n} catch (error) {\n  return [{ json: { error: error.message, rawOutput: rawOutput } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        240
      ],
      "id": "12309064-190a-4927-a8c3-2dc6312bd7f0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1296,
        144
      ],
      "id": "5c2395b0-9e72-4e84-a03d-ec9deadfeec7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "mimir_rbt_classroom",
        "fileName": "={{ $('Edit Fields').item.json.fileName }}",
        "additionalFields": {
          "acl": "publicRead",
          "storageClass": "standard"
        },
        "tagsUi": {
          "tagsValues": [
            {
              "key": "Content-Type",
              "value": "audio/mpeg"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1968,
        144
      ],
      "id": "0203bf52-8a8a-4def-9d58-bd7dec2c3b8f",
      "name": "Upload a file",
      "credentials": {
        "s3": {
          "id": "VtB0BxymxRZHvleK",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "efa36b06-7e41-4e5d-a52f-96eedcb9efae",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2192,
        144
      ],
      "id": "6629a4b6-01e3-4bb9-b28c-7dba4b85a628",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c424fb11-0f20-4990-904f-2f94bc04b9d6",
              "name": "fileName",
              "value": "={{$('Webhook').first().json.jwtPayload.sub + '_' + $('Loop Over Items').first().json.speaker + '_' + $now}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        144
      ],
      "id": "f26561e8-2c3b-4d75-a9eb-4607ad8edafa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9z4u8CpMeP6aQsAD",
          "mode": "list",
          "cachedResultUrl": "/workflow/9z4u8CpMeP6aQsAD",
          "cachedResultName": "FastKokoro"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "voice": "={{ $('Loop Over Items').item.json.voice }}",
            "message": "={{ $('Loop Over Items').item.json.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileName",
              "displayName": "fileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "bucketName",
              "displayName": "bucketName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "voice",
              "displayName": "voice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1744,
        144
      ],
      "id": "96072cd8-4251-494f-8700-fae5e465c998",
      "name": "Call 'FastKokoro'"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-70b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        224,
        464
      ],
      "id": "82f234a5-c839-4a96-be1f-95f09da6f734",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ujyYSOjWajsHaucP",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca9527e3-8111-4f83-b29c-689436074c02",
              "name": "fileName",
              "value": "=https://oyhgtwhtovqlwfrjemdx.supabase.co/storage/v1/object/public/mimir_rbt_classroom/{{ $('Edit Fields').item.json.fileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2416,
        144
      ],
      "id": "7049d332-80f8-455f-a1de-a3cb67e63359",
      "name": "Successful"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5382f3e5-3608-42d7-a96d-75ae8c8f78cd",
              "leftValue": "={{ $('Webhook').item.json.body.local }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1072,
        240
      ],
      "id": "146af020-1cd5-4c17-b55f-950d47f2c341",
      "name": "If1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1520,
        -48
      ],
      "id": "f444dcf3-ad97-4a5c-8bf5-a64c9a8fc18c",
      "name": "Audio Files"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1296,
        336
      ],
      "id": "54f80015-fd76-4fb6-977b-16a9270fe48a",
      "name": "Script"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Code in JavaScript": [
      {
        "json": {
          "speaker": "Professor Sarah",
          "message": "Hello everyone, John Doe has a great question today.",
          "voice": "af_sky"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "speaker": "Professor Sarah",
          "message": "The question is, what observation methods exist?",
          "voice": "af_sky"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "speaker": "Tim",
          "message": "So, observation methods are used to collect data on behavior, right?",
          "voice": "am_echo"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "speaker": "Maya",
          "message": "That's right, Tim. For example, we can use methods like partial interval recording, whole interval recording, or momentary time sampling to observe and record client behavior.",
          "voice": "af_heart"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "speaker": "Professor Sarah",
          "message": "That's a great example, Maya. And according to our research, some common observation methods include latency, rate, and inter-response time, as well as permanent product recording procedures.",
          "voice": "af_sky"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo": {
    "owner": "Ember96",
    "name": "n8n_workflows_backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "qRHduwvYzVPT4ave"
  },
  "shared": [
    {
      "updatedAt": "2026-01-05T00:32:38.536Z",
      "createdAt": "2026-01-05T00:32:38.536Z",
      "role": "workflow:owner",
      "workflowId": "r8iEu2PrOtHb2Fg6",
      "projectId": "qxeR1gIEc01jkoF9"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-17T03:33:41.214Z",
  "versionId": "db651c7d-bb10-499d-8680-8d21b2849590"
}