r8iEu2PrOtHb2Fg6.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-13T02:35:32.000Z",
    "createdAt": "2026-01-13T02:34:50.654Z",
    "versionId": "facaa970-bb62-47c4-b166-9971c45a4a5f",
    "workflowId": "r8iEu2PrOtHb2Fg6",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "=# ROLE\nYou are a specialized scriptwriter for a \"Classroom-Style\" RBT Podcast. \n\n# CLASSROOM PERSONAS\n- Professor Sarah: Expert instructor. \n- Tim: The newbie student (asks for basic definitions).\n- Maya: The smart student (applies concepts to real-life ABA scenarios).\n\n# CONTEXT & USER INPUT\n- User Name: {{ $json.jwtPayload.name }}\n- User Question: {{ $json.body.message }}\n\n# KNOWLEDGE SOURCE (MANDATORY)\n1. You have access to a tool called 'Supabase Vector Store'. \n2. Before answering any question about ABA or RBT concepts, you MUST search this tool for relevant context.\n3. If the tool returns information, prioritize it over your own internal training data.\n4. If the tool returns no information, state: \"I couldn't find that specific detail in our RBT textbook, but based on general ABA principles...\"\n\n# SCRIPT RULES\n1. Sarah must open by saying: \"Hello everyone, {{ $json.jwtPayload.name }} has a great question today.\"\n2. Sarah must then repeat the user's question verbatim for reinforcement.\n3. Tim must interrupt to clarify the most \"obvious\" part of the concept.\n4. Maya must provide a practical example of how to use the concept with a client.\n\n# OUTPUT FORMAT (STRICT)\nYou must output the script exactly in this format so it can be saved to the database:\n[Professor Sarah]: [Message content]\n[Tim]: [Message content]\n[Maya]: [Message content]\n[Professor Sarah]: [Closing thought]\n\n\"Respond using this exact format for every turn. Do not use bolding or other markdown inside the messages:\n\n[SARAH]: Hello {{ $json.jwtPayload.name }}, let's look at your question... [TIM]: Wait, can you explain that more simply? [MAYA]: Here is how I saw this happen in the clinic...\n\nWhen the user speaks, refer to them as [{{$json.jwtPayload.name}}].\"",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          288,
          0
        ],
        "id": "c3c1a120-88e9-4489-bf27-1617ff352a1b",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": "llama-3.3-70b-versatile",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          224,
          224
        ],
        "id": "78c31698-b95b-40f7-9c6b-c589f97030a2",
        "name": "Groq Chat Model",
        "credentials": {
          "groqApi": {
            "id": "aE8pOIvvVZLZ2wyl",
            "name": "Groq Mimir RBT"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Call this tool to look into the RBT documentation stored in Supabase to answer user questions and generate mock exams or study plans.",
          "tableName": {
            "__rl": true,
            "value": "mimir_docs_rbt",
            "mode": "list",
            "cachedResultName": "mimir_docs_rbt"
          },
          "options": {
            "queryName": "match_mimir_docs_rbt"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          480,
          224
        ],
        "id": "ab406520-8f28-4a99-a3b8-144a08ddc08e",
        "name": "Vector Store Retriever",
        "credentials": {
          "supabaseApi": {
            "id": "UjpfwLCOwOKmxVQn",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "modelName": "embed-multilingual-v3.0"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
        "typeVersion": 1,
        "position": [
          560,
          432
        ],
        "id": "1014562a-8158-4d88-8ff6-bb08311d16b0",
        "name": "Embeddings Cohere",
        "credentials": {
          "cohereApi": {
            "id": "Fnlj29qnLp78m5T5",
            "name": "CohereApi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Webhook').item.json.jwtPayload.sub }}",
          "tableName": "podcast_chat_history"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          352,
          224
        ],
        "id": "35f0bc0e-9fa1-4986-9393-b7621094ccf9",
        "name": "Chat history",
        "credentials": {
          "postgres": {
            "id": "1gnIcgG4hDGKsy6f",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "a39a7207-e29a-4080-b0a8-d853ea96a12f",
          "authentication": "jwtAuth",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "9d177811-ca48-4aa7-b71f-fa21f88f516e",
        "name": "Webhook",
        "webhookId": "a39a7207-e29a-4080-b0a8-d853ea96a12f",
        "credentials": {
          "jwtAuth": {
            "id": "UZqDYFn9lmzwtyfS",
            "name": "Mimir User"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          848,
          0
        ],
        "id": "f0518308-ff92-4df5-b849-e8d4ede258f2",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "Groq Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Cohere": {
        "ai_embedding": [
          [
            {
              "node": "Vector Store Retriever",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Vector Store Retriever": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Chat history": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jose Ricardo Cedeno Garcia",
    "name": "Version facaa970",
    "description": "Removed unnecessary note for pending progress ",
    "autosaved": false
  },
  "activeVersionId": "facaa970-bb62-47c4-b166-9971c45a4a5f",
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat history": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Call 'FastKokoro'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-05T00:32:38.531Z",
  "id": "r8iEu2PrOtHb2Fg6",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[Mimir-RBT] Podcast generator",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROLE\nYou are a specialized scriptwriter for a \"Classroom-Style\" RBT Podcast. \n\n# CLASSROOM PERSONAS\n- Professor Sarah: Expert instructor. \n- Tim: The newbie student (asks for basic definitions).\n- Maya: The smart student (applies concepts to real-life ABA scenarios).\n\n# CONTEXT & USER INPUT\n- User Name: {{ $json.jwtPayload.name }}\n- User Question: {{ $json.body.message }}\n\n# KNOWLEDGE SOURCE (MANDATORY)\n1. You have access to a tool called 'Supabase Vector Store'. \n2. Before answering any question about ABA or RBT concepts, you MUST search this tool for relevant context.\n3. If the tool returns information, prioritize it over your own internal training data.\n4. If the tool returns no information, state: \"I couldn't find that specific detail in our RBT textbook, but based on general ABA principles...\"\n\n# SCRIPT RULES\n1. Sarah must open by saying: \"Hello everyone, {{ $json.jwtPayload.name }} has a great question today.\"\n2. Sarah must then repeat the user's question verbatim for reinforcement.\n3. Tim must interrupt to clarify the most \"obvious\" part of the concept.\n4. Maya must provide a practical example of how to use the concept with a client.\n\n# OUTPUT FORMAT (STRICT)\nYou must output the script exactly in this format so it can be saved to the database:\n[Professor Sarah]: [Message content]\n[Tim]: [Message content]\n[Maya]: [Message content]\n[Professor Sarah]: [Closing thought]\n\n\"Respond using this exact format for every turn. Do not use bolding or other markdown inside the messages:\n\n[SARAH]: Hello {{ $json.jwtPayload.name }}, let's look at your question... [TIM]: Wait, can you explain that more simply? [MAYA]: Here is how I saw this happen in the clinic...\n\nWhen the user speaks, refer to them as [{{$json.jwtPayload.name}}].\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        0
      ],
      "id": "c3c1a120-88e9-4489-bf27-1617ff352a1b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "78c31698-b95b-40f7-9c6b-c589f97030a2",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "aE8pOIvvVZLZ2wyl",
          "name": "Groq Mimir RBT"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to look into the RBT documentation stored in Supabase to answer user questions and generate mock exams or study plans.",
        "tableName": {
          "__rl": true,
          "value": "mimir_docs_rbt",
          "mode": "list",
          "cachedResultName": "mimir_docs_rbt"
        },
        "options": {
          "queryName": "match_mimir_docs_rbt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        480,
        224
      ],
      "id": "ab406520-8f28-4a99-a3b8-144a08ddc08e",
      "name": "Vector Store Retriever",
      "credentials": {
        "supabaseApi": {
          "id": "UjpfwLCOwOKmxVQn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        560,
        432
      ],
      "id": "1014562a-8158-4d88-8ff6-bb08311d16b0",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "Fnlj29qnLp78m5T5",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.jwtPayload.sub }}",
        "tableName": "podcast_chat_history"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "35f0bc0e-9fa1-4986-9393-b7621094ccf9",
      "name": "Chat history",
      "credentials": {
        "postgres": {
          "id": "1gnIcgG4hDGKsy6f",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a39a7207-e29a-4080-b0a8-d853ea96a12f",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "9d177811-ca48-4aa7-b71f-fa21f88f516e",
      "name": "Webhook",
      "webhookId": "a39a7207-e29a-4080-b0a8-d853ea96a12f",
      "credentials": {
        "jwtAuth": {
          "id": "UZqDYFn9lmzwtyfS",
          "name": "Mimir User"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        848,
        0
      ],
      "id": "f0518308-ff92-4df5-b849-e8d4ede258f2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9z4u8CpMeP6aQsAD",
          "mode": "list",
          "cachedResultUrl": "/workflow/9z4u8CpMeP6aQsAD",
          "cachedResultName": "FastKokoro"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileName",
              "displayName": "fileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "bucketName",
              "displayName": "bucketName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "voice",
              "displayName": "voice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1056,
        0
      ],
      "id": "96072cd8-4251-494f-8700-fae5e465c998",
      "name": "Call 'FastKokoro'"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "Ember96",
    "name": "n8n_workflows_backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-05T00:32:38.536Z",
      "createdAt": "2026-01-05T00:32:38.536Z",
      "role": "workflow:owner",
      "workflowId": "r8iEu2PrOtHb2Fg6",
      "projectId": "qxeR1gIEc01jkoF9"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-13T03:58:17.215Z",
  "versionId": "609d6b96-849f-4459-a325-7e792b7e29a1"
}