titG974TTqO8HvW2De2jf.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Select Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Templates": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Validate Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Code": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Deploy Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deploy Code": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response": {
      "main": [
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    }
  },
  "createdAt": "2026-02-07T05:01:59.471Z",
  "id": "titG974TTqO8HvW2De2jf",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI Video Generator - Enhanced with Templates",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-video-generator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "63cba8d9-4e58-463e-b1b9-a7b029c3d614",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1296,
        96
      ],
      "webhookId": "ai-video-generator"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://remotion-controller.innerchildproject.us/templates/select",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.body.prompt }}"
            },
            {
              "name": "=titleText",
              "value": "={{ $json.body.titleText }}"
            },
            {
              "name": "=shouldRender",
              "value": "={{ $json.body.shouldRender }}"
            },
            {
              "name": "=audioUrl",
              "value": "={{ $json.body.audioUrl }}"
            },
            {
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "29f30968-557c-46e7-b467-a46efcedcc01",
      "name": "Select Templates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -848,
        96
      ]
    },
    {
      "parameters": {
        "agent": "reActAgent",
        "text": "={{ $json.enhancedPrompt }}",
        "options": {
          "prefix": "`You are an expert Remotion (React for video) developer. Your task is to generate complete, production-ready TypeScript/React code for Remotion video compositions.\n## CORE RESPONSIBILITIES\n- Generate working Composition.tsx files based on user requirements\n- Create smooth, professional animations using Remotion's animation utilities\n- Ensure code is valid, type-safe, and follows best practices\n- Design visually appealing compositions with modern aesthetics\n## CRITICAL CONSTRAINTS - NEVER VIOLATE\n### 1. COMPONENT INTERFACE\nThe component MUST accept these exact props:\n- titleText: string (main title/content to display)\n- descriptionText: string (supporting/subtitle text)  \n- audioUrl?: string (optional background audio URL)\n### 2. ALLOWED IMPORTS ONLY\nUse ONLY these Remotion hooks and components:\n- **Hooks**: useCurrentFrame, useVideoConfig\n- **Animation**: spring, interpolate, Easing\n- **Components**: AbsoluteFill, Sequence, Video, Audio, Img\n- **React**: React (no external libraries)\n### 3. STRICT PROHIBITIONS\n- NO external npm packages or libraries\n- NO fetch/API calls inside the component\n- NO eval(), Function constructor, or dynamic code execution\n- NO setTimeout/setInterval (use frame-based logic instead)\n- NO browser-only APIs (window, document, localStorage)\n- NO markdown formatting in output\n- NO explanatory comments about the code\n## ANIMATION REQUIREMENTS\n### Entrance Animations (Required)\n- All elements must animate in smoothly\n- Use spring() for natural motion (damping: 10-15, stiffness: 50-100)\n- Use interpolate() for precise timing control\n- Stagger multiple elements by 5-15 frames each\n- Start from opacity: 0, scale: 0, or translate off-screen\n### Continuous Animations (Optional but encouraged)\n- Subtle floating effects using sine waves\n- Gentle pulsing or breathing animations\n- Parallax scrolling for depth\n### Exit Animations (Optional)\n- Fade out or slide out at end of composition\n- Use durationInFrames to time exits\n## VISUAL DESIGN STANDARDS\n### Layout\n- Canvas: 1920x1080 (16:9 aspect ratio)\n- Use AbsoluteFill as root container\n- Center content by default unless design requires otherwise\n- Add proper padding (40-60px minimum)\n### Typography\n- Title: 60-100px font size\n- Description: 30-50px font size\n- Use high contrast (WCAG AA minimum)\n- Text shadows for readability on busy backgrounds\n### Colors & Styling\n- Use CSS gradients for backgrounds (linear-gradient, radial-gradient)\n- Modern color palettes (purples, blues, gradients)\n- Ensure text is readable (contrast ratio > 4.5:1)\n- Use rgba() for transparency effects\n## TECHNICAL IMPLEMENTATION\n### Animation Timing\n- Default duration: 150 frames (5 seconds at 30fps)\n- Adjust duration based on content complexity\n- Use fps from useVideoConfig() for frame-rate independent animations\n### Spring Configuration Example:\nconst scale = spring({{\n  fps,\n  frame,\n  config: {{ \n    damping: 10,\n    stiffness: 100,\n    mass: 1\n  }}\n}});\n### Interpolate Usage Example:\nconst opacity = interpolate(\n  frame,\n  [startFrame, endFrame],\n  [0, 1],\n  {{ \n    extrapolateLeft: 'clamp',\n    extrapolateRight: 'clamp'\n  }}\n);\n### Sequence for Timed Animations Example:\n<Sequence from={{0}} durationInFrames={{50}}>\n  (First animation content)\n</Sequence>\n<Sequence from={{30}} durationInFrames={{50}}>\n  (Overlapping animation content)\n</Sequence>\n## OUTPUT FORMAT - CRITICAL\nReturn ONLY the complete TypeScript code. No markdown code blocks, no explanations, no comments about what you're doing.\n### Export Requirement (MANDATORY):\nThe component MUST be exported as a NAMED export called \"MyComposition\":\n- CORRECT: `export const MyComposition: React.FC<Props> = ({{ titleText, descriptionText, audioUrl }}) => {{...}}`\n- WRONG: `export default function Slide(...)` \n- WRONG: `export default MyComposition;`\n### Expected component structure:\n1. Import React and Remotion hooks/components\n2. Define props interface with titleText, descriptionText, audioUrl\n3. Use useCurrentFrame and useVideoConfig hooks\n4. Calculate animations using spring and interpolate\n5. Return JSX wrapped in AbsoluteFill\n6. Include Audio component if audioUrl is provided\n7. Export as: `export const MyComposition` (NOT export default)\n## SPECIAL CONTENT TYPES\n### Educational/Diagram Content\n- Create visual diagrams using CSS shapes\n- Use arrows and annotations (SVG or CSS)\n- Step-by-step reveals using Sequence\n- Highlight boxes to emphasize key points\n### Data Visualization\n- Use CSS for simple charts and graphs\n- Animate values using interpolate\n- Use Sequence for sequential data reveals\n### Product/Feature Showcases\n- Clean, minimal design\n- Focus on the content\n- Subtle animations that don't distract\n## USER REQUEST\nCreate a Remotion video component based on the following description:\n{{input}}\nGenerate ONLY the complete, valid TypeScript code. Nothing else.`;"
        }
      },
      "id": "a13ef449-ae50-4546-846f-d78cccefe28f",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        -624,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://remotion-controller.innerchildproject.us/validate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c405f4ac-b27d-486d-8045-ff230885f048",
      "name": "Validate Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -272,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "e817e29f-f61b-495e-b390-3c4fbe9c1753",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -48,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://remotion-controller.innerchildproject.us/deploy",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "01d64f1d-730c-4ffa-8c0b-b3c422daf89e",
      "name": "Deploy Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        176,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Return success response with video URL\nconst deployResult = $input.first().json;\nconst templateResult = $('Select Templates').first().json;\n\nreturn {\n  json: {\n    success: true,\n    message: deployResult.renderResult ? 'Video template deployed and rendering initiated' : 'Video template deployed successfully',\n    templatesUsed: templateResult.templates?.map(t => t.name) || [],\n    validation: deployResult.validation,\n    functionName: deployResult.deployOutput?.functionName,\n    serveUrl: deployResult.deployOutput?.serveUrl,\n    renderId: deployResult.renderResult?.renderId,\n    bucketName: deployResult.renderResult?.bucketName,\n    videoUrl: deployResult.renderResult?.renderId ? `https://s3.amazonaws.com/${deployResult.renderResult.bucketName}/renders/${deployResult.renderResult.renderId}/out.mp4` : null,\n    estimatedTime: '1-2 minutes for rendering'\n  }\n};"
      },
      "id": "82515d8e-1f38-418a-8d90-47f63440cdea",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Return error response with validation details\nconst validationResult = $input.first().json;\n\nreturn {\n  json: {\n    success: false,\n    error: 'Code validation failed',\n    message: validationResult.message,\n    validationErrors: validationResult.validation?.errors || [],\n    validationWarnings: validationResult.validation?.warnings || [],\n    suggestion: 'Please review your prompt and try again with more specific requirements.'\n  }\n};"
      },
      "id": "a1c72214-5c8f-4f56-93bb-426053dc5ed5",
      "name": "Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        192
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "459e74f6-d3d9-47c9-b766-4362cbef3b10",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        624,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "e8cdaf78-dbec-4796-9f9a-e46212df7539",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        400,
        192
      ]
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -768,
        304
      ],
      "id": "88b07662-d3f4-4e7f-8180-76261f5997fd",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ujyYSOjWajsHaucP",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook Trigger').item.json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -624,
        304
      ],
      "id": "146937f9-5128-4e57-8a67-d4d8847bd2af",
      "name": "Simple Memory"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "Ember96",
    "name": "n8n_workflows_backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-07T05:01:59.474Z",
      "createdAt": "2026-02-07T05:01:59.474Z",
      "role": "workflow:owner",
      "workflowId": "titG974TTqO8HvW2De2jf",
      "projectId": "qxeR1gIEc01jkoF9"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-12T02:34:57.087Z",
  "versionId": "bce47abe-c514-4276-a05a-f3eee062a9b8"
}